.imageContainer {
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginImage {
    width: 100%;
    height: 100vh;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: right;
}
